In [18]:
import pandas as pd

In [19]:
data = {
    "이름": ["송하나", "송두리"],
    "나이": [23, 7],
    "주특기": ["조련", "귀여움"],
    "최애" : ["송두리","간식"],
}
data

{'이름': ['송하나', '송두리'],
 '나이': [23, 7],
 '주특기': ['조련', '귀여움'],
 '최애': ['송두리', '간식']}

In [20]:
df = pd.DataFrame(data)
df

    이름  나이  주특기   최애
0  송하나  23   조련  송두리
1  송두리   7  귀여움   간식

In [21]:
df["취미"] = "산책"
df

    이름  나이  주특기   최애  취미
0  송하나  23   조련  송두리  산책
1  송두리   7  귀여움   간식  산책

In [22]:
out = df.loc[0:1, "이름":"최애"] 
out

    이름  나이  주특기   최애
0  송하나  23   조련  송두리
1  송두리   7  귀여움   간식