# 리스트(list) 자료형 이해하기
변수 : 하나의 값 (단일 값)만 입력된다.

여러 개의 값을 입력하려면?

리스트 : 여러 개의 값을 한 번에 저장할 수 있따.

지정방식 : 대괄호 []를 사용하여 안쪽에 쉼표로 구분하여 여러 항목을 지정해준다.

- 빈 리스트 만들기 
 
  a = []
 
 print(a)

  []
- 내용있는 리스트 만들기

  a = [10, 20, 30]

  print (a)

  [10, 20, 30]

# list에 관련된 기본 함수들
- type 함수 : 자료형을 확인한다.

- len 함수 : 리스트의 길이, 즉 항목의 개수를 알려준다.

- sum 함수 : 리스트에 포함된 모든 항모의 값을 더한다. 숫자값인 경우에 사용가능하다.

# range 함수로 수열 생성하기

항목이 많은 경우 직접 값을 명시하여 입력하는 것은 어렵다.

- range 함수

  적용방식 : range(시작값, 종료값, 증가값)

  시작값 : 시작되는 첫번째 값
  
  종료값 : 종료되는 기준 값. 이 값은 리스트에 포함되지 않음. (마지막 값이 아님_

  증가값 : 증가 혹은 감소되는 값

In [ ]:
#예제 - 수열만들기
l = list(range(5, 101, 5))
print(l)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# for 반복문 문법
for 반복변수 in 연속자료형 :
반복할 명령

In [ ]:
#예시 코드
xlist = [10,30,50,70,90]

for x in xlist :
  print('x = ',x)

x =  10
x =  30
x =  50
x =  70
x =  90

In [ ]:
xlist = range(1,6,1)

for x in xlist :
  print('x =',x)

x = 1
x = 2
x = 3
x = 4
x = 5

In [ ]:
for x in range (1,6,1) :
  print('x =', x)

x = 1
x = 2
x = 3
x = 4
x = 5

In [ ]:
#연습 문제 : 1부터 10까지의 숫자를 출력하는 코딩
for x in range (1,11) :
  print("count %d" %x)
print("end")

count 1
count 2
count 3
count 4
count 5
count 6
count 7
count 8
count 9
count 10
end

In [ ]:
#while문 사용
n = 1
while n<= 10 :
  print("count %d" %n)
  n += 1
print("end")

count 1
count 2
count 3
count 4
count 5
count 6
count 7
count 8
count 9
count 10
end

In [ ]:
#거꾸로 세기
for x in range (10, 0, -1) :
  print("count %d" %x)
print("end")

count 10
count 9
count 8
count 7
count 6
count 5
count 4
count 3
count 2
count 1
end

# 파라미터 생략하기

In [ ]:
#세번째 파라미터 생략하기
for x in range(1,11):
  print(x)
print("end")

1
2
3
4
5
6
7
8
9
10
end

In [ ]:
#첫번째, 세번째 파라미터 생략하기 
for x in range(11) :
  print(x)
print("end")

0
1
2
3
4
5
6
7
8
9
10
end

In [ ]:
#Hello World를 화면에 5번 출력하기
for x in range (5):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World