# Exercise

In [ ]:
for x in range(10) :
  if x > 5 : continue
  if x > 8 : break
  print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [ ]:
for i in range(0, 10, 2) :
  print (i)

0
2
4
6
8

In [ ]:
numbers = [10,20]
items = ["TV","Phone"]

for x in numbers :
  for y in items :
    print(x, y)

10 TV
10 Phone
20 TV
20 Phone

# Programming

In [ ]:
#01
x = 2
while x <= 50 :
  print(x)
  x += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
#02
myList = [11, 22, 23, 99, 81, 93, 35]
x = 0
sum = 0

while x <= 6:
  y = myList[x]
  x += 1
  sum += y

print("정수들의 합은", sum)

정수들의 합은 364

In [ ]:
#03
sum = 0
for i in range(1,101):
  if i%3 == 0 :
    sum += i
print(sum)

1683

In [ ]:
#04
n = int(input("정수를 입력하시오:"))
x = 1
a = []

while x <= n :
  if n % x == 0 :
    a.append(x)
  x += 1

print("약수: ", a)

정수를 입력하시오:60
약수:  [1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]

In [ ]:
#05
n = int(input("정수를 입력하시오:"))
for a in range(1,n+1):
  for b in range(1, a+1):
    print (b, end=" ")
  print()

정수를 입력하시오:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#06
import math

print("각도   sin값   cos값")
degree = 0

while degree <= 90 :
  radian = 3.14 * degree / 180.0
  print("%d   %.3f   %.3f" %(degree, math.sin(radian), math.cos(radian)))
  degree += 10

각도   sin값   cos값
0   0.000   1.000
10   0.174   0.985
20   0.342   0.940
30   0.500   0.866
40   0.643   0.766
50   0.766   0.643
60   0.866   0.500
70   0.939   0.343
80   0.985   0.174
90   1.000   0.001

In [ ]:
#07
import turtle
import math

t = turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')

for x in range(0, 360):
  t.goto(x, 200 * math.sin(x*3.14/180))

In [ ]:
#08
n = 0

while n ** 2 < 500 :
  n += 1

print(n)

23

In [ ]:
#09
n = 1
x = 1

for a in range(1,10):
  for b in range(1,10):
    print(a*b, " ")

1
2
3
4
5
6
7
8
9
2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [ ]:
#10
n = int(input("n의 값을 입력하시오:"))
result = 0

for a in range (1, n+1):
  result += a ** 2

print("계산값은 %d입니다." %result)

n의 값을 입력하시오:10
계산값은 385입니다.

In [ ]:
#11
x = int(input("첫 번째 정수를 입력하시오:"))
y = int(input("두 번째 정수를 입력하시오:"))

m = min(x, y)

for x in range(1, m+1):
    if x % m == 0 and y % m == 0:
        gcd = m;
print("%d와 %d의 최대공약수는 %d입니다." %(x, y, gcd))

첫 번째 정수를 입력하시오:3
두 번째 정수를 입력하시오:6
3와 6의 최대공약수는 3입니다.

In [ ]:
#12

In [ ]:
#13
n = int(input("몇 번째 항까지 구할까요?"))

n1, n2 = 0,1
count = 0

while count <= n:
  print(n1, end=",")
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count += 1

몇 번째 항까지 구할까요?10
0,1,1,2,3,5,8,13,21,34,55,

In [ ]:
#14
for num in range(2,21) :
  prime = True
  for i in range(2,num):
    if num % i == 0 :
      prime = False
      break
  if prime:
    print(num)

2
3
5
7
11
13
17
19

In [ ]:
#15
sum = 0
for i in range (1,100,2):
  sum += (i/(i+2))
print(sum)

46.10464832285218

In [76]:
n = int(input("게임판의 크기:"))
for i in range (n) :
  print("--- "*n)
  print("|  "* (n+1))
print("--- "*n)

게임판의 크기:3
--- --- ---
|  |  |  |
--- --- ---
|  |  |  |
--- --- ---
|  |  |  |
--- --- ---

In [ ]:
#17
for i in range (0,10):
    if i % 3 == 0 and i % 5 == 0:
      print("fizzbuzz")
    elif i % 3 == 0 :
      print("fizz")
    elif i % 5 == 0 :
      print("buzz")
    else :
      print("*")

fizzbuzz
*
*
fizz
*
buzz
fizz
*
*
fizz